RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php

Redirect 301 /grundrisse-preise https://www.8oeserigi.ch/
Redirect 301 /webcam https://www.8oeserigi.ch/